body {
  margin: 0;
  padding: 30px;
  font-family: Arial, sans-serif;
  background: black;
  color: white;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 35px;
  background: rgb(13, 13, 41);
  border-radius: 15px;
  min-height: 100vh;
}

.project {
  color: greenyellow;
  font-weight: bold;
  width: 100px;
  height: 20px;
  background-color: rgb(13, 13, 41);
  text-align: center;
  border-radius: 15px;
  border: 5px solid green;
}
.h1 {
  font-size: 50px;
  margin-top: 45px;
}

.description {
  color: rgb(185, 134, 142);
  font-size: 22px;
  line-height: 1.8;
}

.units {
  display: flex;
  gap: 15px;
  margin-top: 35px;
}

.units button {
  width: 50%;
  padding: 20px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
}

.metric {
  background-color: rgb(92, 73, 109);
  color: aquamarine;
  border: 2px solid aqua;
}

.imperial {
  background-color: rgb(4, 4, 85);
  color: #8585a5;
  border: 2px solid #292941;
}

.inputs {
  display: flex;
  gap: 25px;
  margin-top: 40px;
}
.inputs div {
  width: 50%;
}

label {
  display: block;
  color: #8585a5;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
}

input {
  width: 100%;
  box-sizing: border-box;
  padding: 25px;
  background-color: rgb(11, 11, 70);
  border: 2px solid #292941;
  border-radius: 15px;
  color: white;
  font-size: 20px;
}

.calculate {
  width: 100%;
  margin-top: 35px;
  padding: 25px;
  background-color: #40d6ae;
  border: none;
  border-radius: 15px;
  font-size: 25px;
  font-weight: bold;
}
.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message {
  font-size: 25px;
  color: rgb(102, 115, 126);
  margin-bottom: 70px;
}

.bar {
  display: flex;
  gap: 2px;
}

.under {
  background: rgb(13, 101, 72);
  padding: 20px;
  flex: 1;
  border-radius: 20px 0 0 20px;
}

.normal {
  background: aqua;
  padding: 20px;
  flex: 1;
}

.over {
  background: orange;
  padding: 20px;
  flex: 1;
}

.obese {
  background: palevioletred;
  padding: 20px;
  flex: 1;
  border-radius: 0 20px 20px 0;
}

.formula {
  margin-top: 35px;
  padding: 30px;
  background-color: rgb(10, 10, 60);
  border: 2px solid #293b4a;
  border-radius: 15px;
}

.formula h2 {
  color: aqua;
  font-size: 20px;
  letter-spacing: 2px;
}
.formula h2 {
  color: turquoise;
  font-size: 20px;
  letter-spacing: 2px;
}

.formula p {
  color: lime;
  font-size: 18px;
}

.formula strong {
  color: white;
}
